# =============================================================================
# VARIABLES DE ENTORNO (PLANTILLA REFERENCIAL)
# Copia este archivo como .env y coloca tus credenciales locales de PostgreSQL
# =============================================================================

PGHOST=localhost
PGUSER=postgres
PGPASSWORD=tu_contraseña_aqui
PGDATABASE=mina_petreos
PGPORT=5432
PORT=3000
